* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../images/fundo.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  font-family: "Maven Pro", sans-serif;
  color: white;
}
.text__border {
  margin: 0 5em;
}

.projetos__wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  gap: 8%;
  justify-content: center;
}

.projetos__card h2 {
  font-size: 1.3rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.projetos__card span {
  color: grey;
  font-size: 0.9rem;
  display: block;
  margin: 2rem 0;
}

.projetos__card-button img {
  width: 15%;
}

.projeto-img {
  border-left: 5px solid grey;
  height: 150px;
  width: 300px;
  transition: 0.5s;
}

.projeto-img:hover {
  transform: scale(110%);
  border-left: 5px solid black;
}

.projetos__card-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 140px;
  border-radius: 8px;
  background-color: #121212;
  margin-top: 1rem;
  border: 1px solid grey;
  font-weight: 600;
  letter-spacing: 1.5px;
  height: 40px;
  margin-bottom: 2em;
}

.projetos__card-button:hover {
  background-color: #272727;
}
a {
  text-decoration: none;
  color: white;
}
